.content{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url('../img/friends-gaaa6b1b5d_1920.jpg');
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .info{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        padding-left: 7%;

        h1{
            font-size: 3.8rem;
            color: #fff;
        }
            
        p{
            width: 50%;
            font-size: 1.4rem;
            color: #fff;
        }

        button{
            width: 240px;
            height: 70px;
            border: none;
            border-radius: 50px;
            background-color: $red;
            cursor: pointer;
            margin-top: 30px;
            
            &:hover{
                background-color: $red-transp;
                transition: 0.4s;
            }

            a{
                text-decoration: none;
                color: #fff;
                font-size: 1.2rem;
            }
        }
    }
}